<!--# Can two different @ not go in the same clown hat? -->

<h1>Author details</h1>

<h2><%= @author.first_name %><%= @author.last_name %></h2>

<ul>
    <li>Birth year: <%= @author.author_birthdate %></li>
    <li>Number of books: <%= @author.number_of_books %></li>
</ul>

